/* styles.css */

/* Réinitialisation des marges et du padding par défaut pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de l'en-tête pour centrer le titre en haut de la page */
.header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Style de la section de la liste de lecture */
.playlist {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

/* Style du titre de la liste de lecture */
.playlist h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style de la barre de recherche */
.search-bar {
    margin-bottom: 20px;
}

/* Style du conteneur pour les boutons de lecture automatique et de saut */
.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; /* Marge supérieure initiale */
}

/* Style pour lorsque la musique est affichée en haut */
.show-music-on-top .controls-container {
    margin-bottom: 20px; /* Ajouter une marge inférieure lorsque la musique est en haut */
}

/* Style des boutons de lecture automatique et de saut */
#autoPlayButton,
#skipButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#autoPlayButton:hover,
#skipButton:hover {
    background-color: #0056b3;
}

/* Style de la liste de chansons et de ses éléments */
.song-list {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

/* Style d'un élément de la liste de chansons */
li {
    margin-bottom: 20px;
}

/* Style du carré contenant les détails de la chanson */
.song-details {
    background-color: #f2f2f2;
    color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

/* Style de l'élément audio (barre de lecture) */
.music-player {
    width: 100%;
}

/* Style des contrôles audio */
.music-player::-webkit-media-controls {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Style de la barre de réglage du volume */
#volumeControl {
    /* float: right; */
    /* margin-top: 20px; */
}
